#admin {
    background-color: #333;
    padding: 8px 120px;
    border-bottom: 4px solid #0981b1;
}

#admin span {
    color: #eee;
    margin-right: 80px;
    font-size: 1.2rem;
}

#admin a {
    color: #eee;
    margin-right: 25px;
    font-size: 1rem;
}

#admin-logo {
    width: 520px;
    height: 130px;
    margin-top: 20px;
}

#admin-logo img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.header-border {
    border-bottom: 4px double #222;
}

.admin-users div {
    display: inline-block;
    width: 200px;
}
