#admin {
    background-color: #333;
    padding: 8px 90px;
}

#admin span {
    color: #eee;
    margin-right: 50px;
    font-size: 1.2rem;
}

#admin a {
    color: #eee;
    margin-right: 25px;
    font-size: 1rem;
}
