#admin {
    background-color: #333;
    padding: 8px 90px;
    border-bottom: 4px solid #0981b1;
}

#admin span {
    color: #eee;
    margin-right: 50px;
    font-size: 1.2rem;
}

#admin a {
    color: #eee;
    margin-right: 25px;
    font-size: 1rem;
}

#admin-logo {
    width: 520px;
    height: 160px;
    margin-top: 20px;
}

#admin-logo img {
    width: 100%;
    height: auto;
    cursor: pointer;
}
