#feed {
    margin-top: 80px;
    padding-right: 30px;
}

.blog {
    line-height: 1.2;
}

.blog img {
    max-width: 80%;
    border: 2px solid #ddd;
    border-radius: 50%;
    padding: 6px;
    margin: 0 auto 15px auto;
}

.blog-caption {
    font-size: 0.75rem;
    font-weight: bold;
    color: #666;
    text-transform: uppercase;
}

.caption-divider {
    height: 10px;
    width: 1px;
    display: inline-block;
    background-color: #ccc;
    margin: 0 4px;
}

.blog-caption span {
    color: #00bff3;
}

.blog-body {
    margin-top: 8px;
}

.blog-body a {
    color: #000;
    font-size: 1.1rem;
}

.blog-divider {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px auto;
}

.first img {
    width: 100%;
}

.first a {
    color: #000;
}

.first a:hover span {
    display: inline-block;
    height: 1.8rem;
    border-bottom: 2px solid #00bff3;
}

.right img {
    width: 100%;
}

.right h4 {
    margin: 0;
}

.right a {
    color: #000;
}

.right a:hover span {
    display: inline-block;
    height: 1.3rem;
    border-bottom: 2px solid #00bff3;
}

.wave-hr {
    text-align: center;
}

.wave-hr img {
    width: 50%;
}

.featured-title {
    margin-top: 35px;
    padding-top: 35px;
    border-top: 4px double #222;
}

.featured-post img {
    width: 100%;
}

.svg-container {
    width: 30%;
    margin: 0 auto 20px auto;
}

.featured img {
    width: 100%;
}
