#menu {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

#menu img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#menu:hover img.active {
    z-index: 100;
}

#logo {
    width: 520px;
    height: 160px;
    margin-top: 20px;
    z-index: 100;
}

#logo img {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.caption {
    width: 75%;
    margin: 0 auto;
    margin-top: -18px;
}

#search {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

#search img {
    width: 80%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

#search:hover img.active {
    z-index: 100;
}

.links {
    text-align: center;
    font-size: 0.82rem;
}

.separator {
    height: 1px;
    width: 40px;
    margin: 4px auto;
    background-color: #00bff3;
}
