.logo-category {
    border-bottom: 4px double #222;
}

.posts-title-container {
    right: 0;
    left: 0;
    position: absolute;
    top: -48px;
    text-align: center;
}

.posts-title {
    background-color: #fff;
    display: inline-block;
    padding: 6px;
    font-size: 1.5rem;
    font-weight: bold;
    border: 2px solid #333;
}
